
.flex-box {
  background-color: lightskyblue;
  margin: auto;
  width: 50%;
  border: transparent;
  border-radius: 25px;
  padding: 10px;
  margin-top: auto;
  width: 50%;
  height: 5in;
}

form .ng-invalid.ng-touched {
  border: 1px solid red;
}
