@import url("https://use.typekit.net/jbq1sod.css");


.wrapper {
  background-color: #70ceeb;
  border-radius: 0px 35px 35px 0px;
  position:absolute;
  width: 300px;
  height: 1104px;
  position: fixed;
  width: 20vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  }


.sidebar-header {
position:absolute;
width:202px;
height: 46.94px;
font-family: 'Mr eaves mod ot';
font-weight: 800;
Font-size:64px;
line-height: 71px;
letter-spacing: .2em;
color: #ffffff;
}

 .links{
  margin-top: 30em;
  width: 97px;
  height: 19.17px;
  font-family: 'Monserrat',Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: .25em;
  color: #ffffff;
}
