@import url("https://use.typekit.net/jbq1sod.css");


.wrapper {
  background-color: #70ceeb;
  border-radius: 0px 35px 35px 0px;
  position:absolute;
  width: 300px;
  height: 1104px;
  left: 0px;
  top: 0px;
  }

.sidebar-header {
position:absolute;
width:202px;
height: 46.94px;
left: 43px;
top: 61px;
font-family: mr eaves mod ot Helvetica, Arial, sans-serif;
font-style:normal;
font-weight: 800;
font-size:64px;
line-height: 71px;
letter-spacing: .2em;
color: #ffffff;
}

li {
  list-style-type: none;
  width: 97px;
  height: 19.17px;
  left: 65px;
  top: 245px;

  font-family: Montserrat Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: .25em;
  color: #ffffff;
}

