<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
        <h1>WATT</h1>
        <span style="display:block; height: 60px;"></span>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
      </li>
      <hr>
      <li>
      <a href="#">Users</a>
      </li>
      <hr>
      <li>
        <a href="#">Payments</a>
      </li>
      <hr>
      <li>
        <a href="#">Event</a>
      </li>
      <hr>
      <li>
        <a href="#">Causes</a>
      </li>
      <hr>
      <li>
        <a href="#">Account</a>
      </li>
    </ul>
  </nav>
</div>
