@import url("https://use.typekit.net/jbq1sod.css");

.flex-box {
  background-color: lightskyblue;
  border: transparent;
  border-radius: 25px;
  float: right;
  width: 75%;
  height: 5in;
}

.form-center {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  font-family: Helvetica;
  font-weight: 800px;
  font-size: large;
  color: #007bff;
}

form .ng-invalid.ng-touched {
  border: 1px solid red;
}
